# /etc/systemd/system/multi-user.target.wants/las.service

[Unit]
Description=LAS local attestation service
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/las

ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=/usr/local/bin/docker-compose pull

ExecStart=/usr/local/bin/docker-compose up

ExecStop=/usr/local/bin/docker-compose down -v

RestartSec=1s
StartLimitBurst=100
TimeoutStartSec=10min

[Install]
WantedBy=multi-user.target
